.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.site-list__item {
  text-transform: capitalize;
}

.user-list {
  margin-left: auto;
}
