.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $light-grey;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.main-nav__list {
  list-style: none;
  display: flex;
  gap: 25px;

  @media (min-width: $tablet-width) {
    gap: 35px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.site-list__item {
  text-transform: capitalize;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.site-list__item a {
  text-decoration: none;
  color: $main-dark;
}

.user-list {
  margin-left: auto;
}
