.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.page-footer__nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-template-rows: auto auto auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 476px;
  }
}

.page-footer__nav-item {
  @media (min-width: $tablet-width) {
    &:first-child {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
    }
  }
}

.page-footer__socials-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-basis: auto;

  @media (min-width: $tablet-width) {
    width: 180px;
  }
}

.page-footer__socials-item {
  flex: 1;

  &:last-child {
    flex: 2.4;
  }
}
