/* text colors */
$main-dark: #151c22;
$main-grey: #727a82;

$main-dark-hover: #10161b;

/* background colors*/
$light-grey: #f1f2f4;
$main-white: #ffffff;
$main-black: #000000;

/*color picker colors*/
$color-picker-greengray: #b0c3c7;
$color-picker-blue: #3b6392;
$color-picker-gray: #bfc3c8;

$color-greengray: #b0c3c7;
$color-darkblue: #3b6392;
$color-gray: #bfc3c8;
$color-black: #2d2e2e;
$color-lightgray: #ececec;
$color-cobaltblue: #4193da;
