/* work-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/work-sans-regular.woff2") format("woff2"),
    url("../fonts/work-sans-regular.woff") format("woff");
}
/* work-sans-500 - latin-ext_latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/work-sans-500.woff2") format("woff2"),
    url("../fonts/work-sans-500.woff") format("woff");
}
