.button {
  background-color: $main-dark;
  color: $main-white;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    box-shadow: 4px 2px 2px $color-picker-gray;
  }
}
