.collection__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    width: 678px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
  }
}

.collection__promo-wrapper {
  background-image: repeating-linear-gradient(
    135deg,
    black 0,
    transparent 1px,
    transparent 10px
  );
  padding: 15px 15px 0 15px;
}

.collection__promo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $light-grey;
  padding-top: 36px;
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}

.collection__promo-text {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $main-grey;
  margin-bottom: 2px;
}

.collection__promo-header {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 24px;
}

.collection__promo-button {
  padding: 20px 34px 20px 34px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.collection__photo-wrapper {
  width: 320px;

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.collection__photo {
  width: 320px;
  height: 226px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 287px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    height: 370px;
  }
}
