*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}
