.items-list__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 54px;
  padding-bottom: 63px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;
    padding-bottom: 96px;
  }
}

.items-list {
  display: grid;
  list-style: none;
  grid-template-columns: 130px 130px;
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    order: 3;
    grid-row-gap: 46px;
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 270px);
    margin-top: 28px;
  }
}

.items-list__item {
  &:hover {
    opacity: 0.95;
  }
}

.items-list__img {
  width: 130px;
  height: 160px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 349px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    height: 349px;
  }
}

.items-list__name {
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
    padding-top: 17px;
  }
}

.items-list__price {
  display: block;
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 19px;
    padding-top: 7px;
  }
}

.items-list__link {
  align-self: center;
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $main-dark;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $main-grey;
  }

  &::after {
    position: absolute;
    content: "";
    top: 20px;
    right: -4px;
    width: 70px;
    height: 2px;
    background-color: $main-dark;

    &:hover {
      color: $main-grey;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
    margin-right: 6px;
    align-self: flex-start;
    margin-top: 2px;

    &::after {
      top: 22px;
      right: -6px;
      width: 80px;

      &:hover {
        color: $main-grey;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
  }
}
