.bestsellers__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 54px;
  padding-bottom: 63px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.bestsellers__header {
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 34px;
}

.bestsellers__list {
  display: grid;
  list-style: none;
  grid-template-columns: 130px 130px;
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;

    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 270px);
  }
}

.product-item__img {
  width: 130px;
  height: 160px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 349px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    height: 349px;
  }
}

.product-item__name {
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 7px;
}

.product-item__price {
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  padding-top: 23px;
}

.bestsellers__link {
  align-self: center;
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $main-dark;
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 20px;
    right: -4px;
    width: 70px;
    height: 2px;
    background-color: $main-dark;
  }
}
