.bestsellers__header {
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 34px;
  }
}
