.promo {
  background-color: $light-grey;
  padding-top: 15px;
  padding-bottom: 13px;
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.promo__photo {
  position: relative;
  margin-bottom: 42px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 109px;
    height: 80px;
  }

  &::after {
    top: 189px;
    left: 113px;

    background-image: repeating-linear-gradient(
      135deg,
      black 0,
      transparent 1px,
      transparent 10px
    );
  }

  &::before {
    bottom: 193px;
    right: 113px;
    background-image: repeating-linear-gradient(
      45deg,
      black 0,
      transparent 1px,
      transparent 10px
    );
  }
}

.promo__img {
  z-index: 1;
}

.promo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.promo__slogan {
  color: $main-grey;
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.promo__header {
  font-family: "Anton", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 86px;
  line-height: 100px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.promo__button {
  padding: 21px 17px 24px 18px;
  font-family: "Work Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.promo__links {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
  }
}

.promo__links-social-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
